@import 'node_modules/bulma/css/bulma.css';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
#app {
  position: relative;
  width: 325px;
  height: 500px;
}

[id$='Page'] {}

#connectionOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 10;
}

#connectionContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

#connection {
  padding: 15px;
  border-radius: 2px;
  background-color: white;
  color: #000;
  text-align: center;
}

.connectionAnimation {
  width: 50%;
  margin: 15px;
}

.connecting path {
  fill: #3273dc;
}

.loading:after {
  content: '.';
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #000;
    text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: .25em 0 0 #000, .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: .25em 0 0 #000, .5em 0 0 #000;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* .hidden {
  opacity: 0;
  height: 0;
  transition: opacity 1s linear, height 1s step-start;
  transition-delay: 3s;
  transition-timing-function: linear, step-end;
  z-index: -9999;
} */

.toplink {
  background: #fff;
}

.bottomlink {
  background: grey;
}

.ahashakeheartache {
  animation: kf_shake 0.4s 1 linear;
}

@keyframes kf_shake {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}

.connected .path {
  stroke: #008F55;
}

.error .path {
  stroke: #E41D58;
}

.connected .path, .error .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.connected .path.circle, .error .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}

.connected .path.line, .error .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.connected .path.check, .error .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}