﻿@model Newtonsoft.Json.Schema.JSchema
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.5/jsoneditor.min.css" integrity="sha256-thQmdfrg82/N5u9ybMxam1RKdSfaxOPCgl5q9AI/mDI=" crossorigin="anonymous" />
<input id="accountId" type="text" value="13371337-1337-1337-1337-133713371337" />
<input type="button" value="register account" id="registerAccountBtn" />
<div id="jsoneditor" style="width: 100%; height: 600px;"></div>
<input type="button" value="register project" id="registerProjectBtn" />
<ul id="projects"></ul>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/tinymce.min.js" integrity="sha256-6Q5EaYOf1K2LsiwJmuGtmWHoT1X/kuXKnuZeGudWFB4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.5/jsoneditor.min.js" integrity="sha256-wSC7O6XOfLcUshyeqXv+r8JrR2nn1O95z8s61JK7iTk=" crossorigin="anonymous"></script>
    <script>
            function ProgressMessage(urlsFoundCount, urlsCrawledCount, urlsCrawledPrSecond, secondsRemaining) {
                let timeLeft = new Date(secondsRemaining * 1000).toISOString().substr(11, 8);
                return timeLeft + " left (at " + urlsCrawledPrSecond.toFixed(2) + "pages/sec) " + urlsCrawledCount + "/" + urlsFoundCount + "(" + (urlsCrawledCount / urlsFoundCount * 100).toFixed(2) + "%)";
            }
            let accountId = '';
            let projectList = document.getElementById('projects');
            let registerProjectBtn = document.getElementById("registerProjectBtn");
            registerProjectBtn.setAttribute('disabled','');
            const container = document.getElementById("jsoneditor");
            const options = {
                schema: @Html.Raw(Model),
                mode: 'code'
            };
            const editor = new JSONEditor(container, options);
            const nimbleHub = $.connection.nimbleHub;
            $.connection.hub.start().then(() => {
                registerProjectBtn.removeAttribute('disabled');

            }).catch(function (err) {
                return console.error(err.toString());
            });

            registerProjectBtn.addEventListener('click', async () => {
                let json = editor.get();
                let isValid = editor.validateSchema(json);
                if (isValid) {
                    nimbleHub.server.registerProject(accountId, JSON.stringify(json));
                }
            });

            let registerAccountBtn = document.getElementById("registerAccountBtn");
            registerAccountBtn.addEventListener('click', async () => {
                accountId = document.getElementById('accountId').value;
                nimbleHub.server.registerAccount(accountId);
            });
            $.connection.hub.disconnected(() => {
                setTimeout(function () {
                    console.log('Trying to reconnect to hub');
                    $.connection.hub.start();
                }, 1000);
            });

            nimbleHub.client.projectCreated = (message) => {
                console.log(message);
                let projectId = message.ProjectId;

                let li = document.createElement('li');
                li.setAttribute('id', projectId);


                let progressContainer = document.createElement('div');
                progressContainer.setAttribute('class', 'progressContainer');

                let progressbar = document.createElement('progress');
                progressbar.setAttribute('value', 0);
                progressbar.setAttribute('max', 100);

                progressContainer.appendChild(progressbar);
                let progressText = document.createElement('p');
                progressText.setAttribute('class', 'progressText');
                progressContainer.appendChild(progressText);

                let toggleBtn = document.createElement('input');
                toggleBtn.setAttribute('type', 'button');
                toggleBtn.setAttribute('value', 'pause');
                toggleBtn.setAttribute('class', 'toggleBtn');
                toggleBtn.addEventListener('click', async () => {
                    console.log(toggleBtn.getAttribute('value'));
                    if (toggleBtn.getAttribute('value') == 'pause') {
                        nimbleHub.server.pauseProject(accountId, projectId);
                        toggleBtn.setAttribute('value', 'start');
                    }
                    else {
                        nimbleHub.server.startProject(accountId, projectId);
                        toggleBtn.setAttribute('value', 'pause');
                    }
                });

                let terminateBtn = document.createElement('input');
                terminateBtn.setAttribute('type', 'button');
                terminateBtn.setAttribute('value', 'terminate');
                terminateBtn.setAttribute('class', 'terminateBtn');
                terminateBtn.addEventListener('click', async () => {
                    if (confirm('Terminating the project will delete everything.\n Are you sure you want to terminate?')) {

                        if (confirm('There is no way back from here. Are you sure?')) {
                            nimbleHub.server.terminateProject(accountId, projectId);
                        }
                    }
                });

                li.appendChild(progressContainer);
                li.appendChild(toggleBtn);
                li.appendChild(terminateBtn);
                document.getElementById('projects').appendChild(li);
            };
            nimbleHub.client.projectTerminated = (message) => {
                let project = document.getElementById(message.ProjectId);
                projectList.removeChild(project);
            };
            nimbleHub.client.projectProgress = (message) => {
                // console.log(message);
                let project = document.getElementById(message.ProjectId);
                let progressBar = project.getElementsByTagName('progress')[0];
                progressBar.setAttribute('value', message.UrlsCrawledCount);
                progressBar.setAttribute('max', message.UrlsFoundCount);
                let progressText = project.getElementsByClassName('progressText')[0];

                progressText.innerHTML = ProgressMessage(message.UrlsFoundCount, message.UrlsCrawledCount, message.UrlsCrawledPrSecond, message.SecondsRemaining);
            };

            nimbleHub.client.objectContent = (message) => {
                console.log(message.recipe.heading);
            };
    </script>
}